<!-- HEADER -->
<section class="content-header">
	<h1>О системе</h1>
	<ol class="breadcrumb">
		<li><a href="#" onclick="uiViewContent('dashboard');"><i class="fa fa-desktop"></i> Панель</a></li>
		<li><a href="#">Система</a></li>
		<li class="active">О системе</li>
	</ol>
</section>
<!-- BODY -->
<section class="content">

		<!-- quick email widget -->
              <div class="box box-success">
                <div class="box-body">
                 <center>
				 <h1>Dynamic Integration System</h1>
                  <h2>Версия 0.1</h2>
				</center>				  
                </div>
        </div>
			  
              <!-- quick email widget -->
              <div class="box box-info">
                <div class="box-header">
                  <i class="fa fa-envelope"></i>
                  <h3 class="box-title">Сообщение разработчику</h3>
                  <!-- tools box -->
                </div>
                <div class="box-body">
                  <form action="#" method="post">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" placeholder="Тема">
                    </div>
                    <div>
                      <textarea class="textarea" placeholder="Сообщение" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                  </form>
                </div>
                <div class="box-footer clearfix">
                  <button class="pull-right btn btn-default" id="sendEmail">Отправить <i class="fa fa-arrow-circle-right"></i></button>
                </div>
              </div>		
</section>